In [313]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [314]:
fert = pd.read_csv('Week1_Marija\Introduction to pandas\gapminder_total_fertility.csv', index_col=0)
life =pd.read_excel('Week1_Marija\Introduction to pandas\gapminder_lifeexpectancy.xlsx', index_col=0)
population = pd.read_excel("Week1_Marija\Introduction to pandas\gapminder_population.xlsx", index_col=0)
continents = pd.read_csv('Week1_Marija\Introduction to pandas\continents.csv', index_col=0,sep = ';')

In [315]:
continents

                 country
continent
Africa           Algeria
Africa            Angola
Africa             Benin
Africa          Botswana
Africa           Burkina
...                  ...
South America   Paraguay
South America       Peru
South America   Suriname
South America    Uruguay
South America  Venezuela

[194 rows x 1 columns]

In [316]:
life.columns=life.columns.astype(int)
fert.columns=fert.columns.astype(int)
population.columns = population.columns.astype(int)

In [317]:
fert.index.name = 'country'
life.index.name = 'country'
population.index.name = 'country'

In [318]:
life =  life.reset_index()
fert =  fert.reset_index()
population =  population.reset_index()
continents = continents.reset_index()

In [319]:
continents

         continent    country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

In [320]:
life = life.melt(id_vars='country', var_name='year', value_name='life_expectancy')
population = population.melt(id_vars='country', var_name='year', value_name='total_population')
fert = fert.melt(id_vars='country', var_name='year', value_name='fertility_rate')

In [321]:
df = fert.merge(population)

In [322]:
df1 = df.merge(life)

In [323]:
gapminder = pd.merge (continents,df1,how= 'right', on = 'country')

In [324]:
gapminder.dropna(inplace=True)

In [349]:
gapminder['year'] = gapminder['year'].astype(int)
df2 =gapminder['year'].unique()
#df3 = df2[61:]
#df3

In [350]:
minsize = gapminder['total_population'].min()/80000
maxsize = gapminder['total_population'].max()/80000

In [351]:
for i in df2:
    #print(i)\n",

    fig, axis= plt.subplots(figsize=(12,6))
    sns.set_style("darkgrid")
    gapminder_subset = gapminder.loc[gapminder['year'] == i]
    axis.set_xlim(0,100)
    axis.set_ylim(0,10)
    sns.scatterplot(x='life_expectancy', y='fertility_rate',data=gapminder_subset,alpha=0.5, size = 'total_population', sizes=(minsize,maxsize),hue='continent', palette = "flare",ax = axis )
    #plt.legend (markerfirst = True,bbox_to_anchor = (0.75, 0.5, 0.5, 0.5), ncol=2, numpoints= 7)
    plt.title(f'Year {i}')
    plt.xlabel('Life Expectancy')
    plt.ylabel('Fertility rate')
    handles, labels = axis.get_legend_handles_labels()
    axis.legend(handles=handles[:7], labels=labels[:7], loc=0)
    plt.savefig('lifeexp_{}.png'.format(i))
    #plt.savefig(f'lifeexp_{i}.png')\n",
    plt.close()

In [352]:
pip install imageio

Requirement already satisfied: imageio in c:\users\priya\anaconda3\lib\site-packages (2.19.3)
Requirement already satisfied: numpy in c:\users\priya\anaconda3\lib\site-packages (from imageio) (1.21.5)
Requirement already satisfied: pillow>=8.3.2 in c:\users\priya\anaconda3\lib\site-packages (from imageio) (9.2.0)
Note: you may need to restart the kernel to use updated packages.

In [353]:
import imageio

images = []

for i in df2:
    filename = 'lifeexp_{}.png'.format(i)
    #print(filename)
    images.append(imageio.imread(filename))

imageio.mimsave('output.gif', images, duration = 0.5,fps=5)

C:\Users\Priya\AppData\Local\Temp\ipykernel_10220\1236622261.py:8: DeprecationWarning: Starting with ImageIO v3 the behavior of this function will switch to that of iio.v3.imread. To keep the current behavior (and make this warning dissapear) use `import imageio.v2 as imageio` or call `imageio.v2.imread` directly.
  images.append(imageio.imread(filename))

In [ ]:
#gapminder[gapminder['continent'] == 'Australia and Oceania']['life_expectancy'].max(),gapminder[gapminder['continent'] == 'Africa']['life_expectancy'].min()

In [ ]:
#conti =gapminder['continent'].unique()
#conti

In [ ]:
#conti_life=pd.DataFrame({'continent': ['Max_life','Min_life'], 'Africa':['','']})
#conti_life.set_index('continent')
#conti_life.index[0]

In [ ]:
#for i in conti:
    #conti_life['continents'] = i
    #conti_life['maxlife'].append

    #gapminder[gapminder['continent'] == i]['life_expectancy'].max()
    #gapminder[gapminder['continent'] == i]['life_expectancy'].min()